<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="navbar">NAVBAR</div>
        <div class="body">
            <div class="left-sidebar">SIDEBAR</div>
            <div class="right-sidebar">
                <div class="main">MAIN</div>
                <div class="between">
                    <div class="box1">BOX1</div>
                    <div class="box2">BOX2</div>
                    <div class="box3">BOX3</div>
                </div>
                <div class="footer">FOOTER</div>
            </div>
        </div>
    </header>

</body>

</html>